#container {
    height: 50px;
    width: 100%;
    background-color: rgb(243, 64, 41);
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 150px;
}

#searchBox {
    height: 20px;
    flex: 1;
}

#form {
    width: 75%;
    max-width: 750px;
    display: flex;
    align-items: center;
}

#searchButton {
    height: 22px;
}